@media screen and (min-width: 1024px) {

    header {
        background-position: right;
    }

    nav {
        padding: 8px 0px;
        
    }

    .logo h1 {
        font-size: 20px;
    }

    menu {
        background-color: #eaeaea;
    
        position: relative;
        top: -2vh;
        display: flex;
        height: 0;
        width: 50%;
        justify-content: space-around;
        transform: translateX(0);
        transition: 700ms ease;
    }

    .menu-list {
        display: flex;
    }

    .menu-list li {
        
        margin-left: 20px;

    }

    .menu-list li a {
       padding-top: 0;
        font-size: 16px;
        font-weight: lighter;
        text-shadow: none;
    }

    .menu-list li a:hover {
        text-decoration: underline;
    }

    .menu-button {
        display: none;
    }
    menu  .notification{
        display: none;
    }

    /* -----------SUBHEADER--------- */

    .subheader .slogan {
        position: relative;
        left: 25%;
        top: 40px;
    }

    .subheader .slogan .span01 {
        font-size: 3em;
        
    }
    
    .subheader .slogan .span02 {
        font-size: 8em;
    }

    /*-------------CARDS--------*/

    .cards ul {
        flex-direction: row;
    }

    .cards ul li {
        width: 180px;
        height: 100px;
        
    }

    .aside-paragraph {
        min-width: 600px;
         padding: 10px 0;
     }

    .aside-paragraph::after {
        width: 200px;
    }

    .aside-paragraph::before {
        width: 200px;
    }

    .notification-form {
        min-width: 600px;
     }

    .notification-form::after {
        width: 200px;
     }


    .notification-form::before {
        width: 200px;
     }

     .form {
        height: 150px;
       
     }

    form {
        width: 100%;
        display: flex;
        align-items: center;
      
    }

    form input {
        width: 300px;
        margin-left: 50px;
    }

    #button {
        width: 100px;
    }

    .display-flexnotification-form-and-address {
        display: flex;
        margin-right: 70px;
        

     }

    .social-icons {
        padding-top: 50px;
     }

}