@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

:root {
    --cor0: #1A5C37;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #355C47;
    --cor4: #2FA866;
    --cor5: #063d1e; 
}


html, body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: white;
}


.logo h1 {
    letter-spacing: 1.5px;
    font-size: 12px;
    color: #eaeaeacb;
    font-weight: normal;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342);
    font-variant: small-caps;
    
}

main {
    height: 100%;
    background-color: #000f0f;
    
}



/*-----------------------------------------------------MENU-----------------------------------------------*/

nav {
    background-color: #000f0f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding: 5px 0;

    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.493);

    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.menu-button {
    cursor: pointer;
}

.menu-button div {
    width: 32px;
    height: 3px;
    margin: 5px;
    border-radius: 10px;
    background-color: #eaeaeae1;
}

menu {
    background-color: #000f0ff6;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    
    
    
    transform: translateX(-100%);
    transition: 700ms ease;
}




.menu-list {
       
}

.menu-list li {
    letter-spacing: 1.2px;
    
}

.menu-list li a {
    display: inline-block;
    padding: 10px 30px;
    color: whitesmoke;
    text-shadow: 2px 2px 3px rgb(0, 0, 0, 0.2);
    font-size: 1.1em;
    font-weight: lighter;
}

.menu-list li a:hover {
    text-decoration: underline;
}

.notification {
    position: relative;
    top: 60%;
    left: 20%;
    transform: translate(-50%, 0);
}

.notification p {
    color: white;
    padding: 10px 0;
    letter-spacing: 2px;
    line-height: 1.5em;
    
}

input {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 3px;
    letter-spacing: 2px;
}

#button {
    background-color: #1A5C37;
    color: white;
    
}

/*--------------------------SUBHEADER------------------------*/
.black-backgorund {
    background-color: #000f0fb0;
    padding: 30px;
   
}

.subheader {
    background-color: #eaeaea;
    background-image: url('../imagens/fundo/fundo-main.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 2px 4px 5px 0px black;
    height: 100%;
    
    
}

.subheader .slogan span {
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);
    
    display: flex;
    justify-content: space-around;
    font-style: italic;
    letter-spacing: 2px;
    
    
}

.subheader .slogan .span01 {
    font-size: 1.2em;
    padding-top: 50px;
}

.subheader .slogan .span02 {
    font-size: 5em;
}

.paragraph {
    padding-top: 10px;
}

.subheader .paragraph span {
    display: flex;
    justify-content: space-between; 
    color: white; 
    letter-spacing: 2px;

}

.subheader .paragraph .link {
    padding-top: 10px;
    
}

.subheader .paragraph span a {
    color: white;
    letter-spacing: 1.2px;
    padding: 5px;
    
    border: 2px solid #063d1e;
    border-radius: 5px;
    transition: 500ms ease;
}

.subheader .paragraph span a:hover {
    border: 2px solid #1A5C37;
    transition: 500ms ease;
}


/*-----------------------CARDS-----------------------------CARDS--------------------------------------CARDS-----------------*/
.cards {
    
}
.cards ul {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}


.fundo-transparente img {
    width: 100%;
    color: red;
    padding: 15px 20px;
}

.fundo-transparente {
    width: 180px;
    height: 100px;
    border: 2px solid #333;
    border-radius: 3px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 5px 0px rgb(0, 0, 0);
    position: relative;
    margin-bottom: 30px;
}

.btn-acess {
    width: 70px;
    padding: 5px;
    outline: none !important;
    border: none;
    border-radius: 3px;
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    transition: .6s ease;
    opacity: 0;
    z-index: 1;
}

.fundo-transparente:hover .btn-acess {
    transform: translate(-50%, 50%);
    bottom: 50%;
    opacity: 1;
    transition: 500ms ease;
}

.overlay {
    height: 100%;
    width: 100%;
    background: #333;
    position: absolute;
   top: 0;
    opacity: .5;
    transition: .5s;
    transform: scaleX(0);
}

.fundo-transparente:hover .overlay {
    transform: scaleX(1);
    opacity: .5;
}

/* .imagem01 {

}

.imagem03 {
    
}

.imagem04 {
    
}

.imagem05 {
   
}

.imagem06 {
   
}  */

aside {
    background-color: #eaeaea;
    background-image: url('../imagens/fundo/hj.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 2px 4px 5px 0px black;
    width: 100%;
    
}

.aside-overlay {
    background-color: rgba(0, 0, 0, 0.644);
    width: 100%;
    height: 100%;
    padding: 30px;
}

.aside-paragraph {
    margin: 0 auto;
    height: 100%;
    max-width: 400px;
    padding: 15px;
    border-radius: 3px;
   
}

/* .aside-paragraph::after {
    content: '';
    height: 100px;
    width: 200px;
    background-color: #355C47;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}

.aside-paragraph::before {
    content: '';
    height: 100px;
    width: 200px;
    background-color: #355C47;
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: -1;
} */

.aside-paragraph p{
    
    text-align: justify;
    letter-spacing: 1.3px;
    line-height: 1.5em;
    color: #2FA866;
}

aside .link-form {
    text-align: right;
}

aside p a {
    letter-spacing: 1.2px;
    color: #2FA866;
    font-weight: 500;
    background-color: white;
    padding: 5px 7px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 50, 0.5);
    border: 2px solid #1A5C37;
    border-radius: 5px;
    transition: 500ms ease;
    
}

aside p a:hover {
    color: white;
    background-color: #2FA866;
    transition: 500ms ease;
}
 
.texto {
    display: none;
    background-color: #3d5f4df6;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527);
    border-radius: 5px;
    border: 2px solid var(--cor4);
    
}

.texto:hover {
    background-color: var(--cor5);
}

.texto a {
    color: white;
    letter-spacing: 1.2px;
    
}

.notification-footer {
    padding: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.notification-footer p {
    color: white;
    padding: 10px 0;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-align: justify;
}

input {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 3px 0 0 3px;
    letter-spacing: 2px;
}

#button {
    background-color: #1A5C37;
    color: white;
    border-radius: 0 3px 3px 0;

}
footer {
    background-color: #000f0f;
    text-align: center;

    padding: 30px;
}

footer p {
    padding-bottom: 2px;
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

#blue {
    color: #133b4e;
    font-weight: bolder;
}

#logo-name {
    border-top: 1px solid white;
    padding: 20px;
    font-variant: small-caps;
}

/*SCRIPTS*/

.show-menu {
    transform: translateX(0);
    transition: 700ms ease;
}

.line1-rotation {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.line2-opacity{
    opacity: 0;
}

.line3-rotation {
    transform: rotate(45deg) translate(-5px, -7px);
}
